h1 {
    color: #FF0000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: blueviolet;
}

.class1 {
    background-color: aqua;
}

#id1 {
    font-size: 50px;
    background-color:chartreuse;
}

#id1 {
    background-color: crimson;
}

